
.navbar{
    padding:20px;
    border-bottom: 2px solid #fff;
  }
.active{
    background-color: #000;
    padding: 5px;
}

.navbar-brand a{
    font-size:1.8em;
    color: #fff!important ;
    padding:0px 60px;
    text-decoration: none;
}
.navbar-brand a span{
    font-size: 1.6em;
    color: var(--main);
    font-weight: 700;
}
.navbar-nav{
    padding: 0px 60px;
    margin-top: 10px;
}
.nav-link{
    color:#fff !important;
    text-decoration: none;
    margin-left: 18px;
    margin-right: 18px;
  }
.nav-link:hover{
    color: var(--main) !important;
    transform: scaleY(0.90);
    text-decoration: none;
}